.hero-body {
  border: 1px solid rgba(204, 201, 211, 0.185);
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}
.imageLarge {
  max-width: 100%;
  height: auto;
  z-index: -1;
}
.backgroundcolorwhiteSmoke {
  background-color: #ffffff;
}

.subTitlePadding {
  padding: 5px;
}
.subTitleTextStyle {
  font-style: italic;
}
.containerPadding {
  border: 1px solid rgb(233, 232, 232);
  border-radius: 5px;
  margin: 10px;
}
@media only screen and (min-width: 1408px) {
  .widthKeeper {
    width: 1400px;
  }
}
